
.lt_history {
  padding: 10px;
  font-size: 12px;
  color: #666;
}

.content ul{
  border: 1px dashed red;
}
.content li{
  height: 30px;
  line-height: 30px;
  border-bottom: 1px dashed red;
  padding: 0 10px;
}
.content li:last-child{
  border-bottom: none;
}
.content span {
  height: 30px;
  line-height: 30px;
}
